/* 
    MAIN CSS
*/

@font-face {
    font-family: "Bold";
    src: url("../assets/font/ABold.ttf");
}

@font-face {
    font-family: "Medium";
    src: url("../assets/font/AMedium.ttf");
}

@font-face {
    font-family: "Regular";
    src: url("../assets/font/ARegular.ttf");
}

@font-face {
    font-family: "Light";
    src: url("../assets/font/ALight.ttf");
}

:root {
    --black : rgb(20, 20, 20);
    --white : rgb(255, 255, 255);

}

* {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--white);
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    font-family: "Light", sans-serif;
    overflow: hidden;
}
/* *******************    ******************* */
.box {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.home_box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.kursor {
    cursor: pointer;
}

.nav {
    position: relative;
    top: var(--MRG);
    z-index: 10;
}

/* ************ NAV BAR TOP ** */
.logo, .nav_bar {
    position: absolute;
}

.logo {
    font-family: "Bold";
}

.nav_item {
    display: inline;
    margin: 0 var(--ITSpace);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    
}

.item_1 a:hover, .item_2 a:hover, .item_3 a:hover {
    border-bottom: 1px solid var(--white);
}



/* ************ LOGO CENTER ** */
.logo_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Bold";
    overflow: visible;
}

.lt, .lc, .lb {
    position: relative;
}

.lt {
    left: -50%;
}
.lb {
    right: -50%;
}

/* ************ FOOTER ** */
.footer_left, .footer_right{
    position: absolute;
}
.footer_right{
    z-index: 10;
}

.footer_right .icone {
    display: inline;
}

.icone img {
    margin: 0 var(--ITSpace);
}

/* ************ CONTACT ** */
.box {
    background-color: crimson;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: 0.5s ease-in;
}

.project_box {
    top: 0;
    left: -100%;
}
.about_box {
    top: 0;
    left: 100%;
}

.contact_box {
    top: 100%;
    left: 0;
}




















