/* 
    MOBILE CSS
*/

@media screen and (max-width: 767px){
    :root {
        --MTB : 5%;
        --MLR : 15%;
        --ITSpace : 5px;
    }

/* ************ HOME ** */
    .home_box {
        font-size: 0.6rem;
    }

    .icone img {
        height: 15px;
    }
/* ************ FOOTER ** */
    .footer_left {
        bottom: var(--MTB);
    }
    .footer_right {
        bottom: 10%;
    }

    .footer_left, .footer_right {
        left: 50%;
        transform: translateX(-50%);
    }
/* ************ LOGO CENTER ** */
    .logo_box{
        font-size: 2rem;
    }
    .lt {
        left: -30%;
    }
    .lb {
        right: -30%;
    }
    
}