/* 
    TABLET CSS
*/

@media screen and (min-width: 768px) and  (max-width: 1023px){
    :root {
        --MTB : 6%;
        --MLR : 10%;
        --ITSpace : 10px;
    }

/* ************ HOME ** */
    .home_box {
        font-size: 0.8rem;
    }

    .icone img {
        height: 15px;
    }

/* ************ FOOTER ** */
    .footer_left, .footer_right{
        bottom: var(--MTB);
    }

    .footer_left {
        left: var(--MLR);
    }

    .footer_right {
        right: var(--MLR);
    }

/* ************ LOGO CENTER ** */
    .logo_box{
        font-size: 2.7rem;
    }
    .lt {
        left: -40%;
    }
    .lb {
        right: -40%;
    }
}