/* 
    DESKTOP CSS
*/

@media screen and (min-width: 1024px){
    :root {
        --MRG : 5%;
        --ITSpace : 20px;
    }

/* ************ HOME ** */
    .home_box {
        font-size: 1rem;
    }

    .icone img {
        height: 20px;
    }

    .logo, .nav_bar {
        top: 0;
    }
    
    .logo {
        left: var(--MRG);
    }

    .nav_bar { 
        right: var(--MRG);
    }

/* ************ FOOTER ** */
    .footer_left, .footer_right{
        bottom: var(--MRG);
    }

    .footer_left {
        left: var(--MRG);
    }

    .footer_right {
        right: var(--MRG);
    }

/* ************ LOGO CENTER ** */
.logo_box{
    font-size: 3rem;
}
.lt {
    left: -50%;
}
.lb {
    right: -50%;
}
/* ************ FORM ** */
.form_box {
    width: 50%;
}

}
